<!-- 表單 -->
<div  class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">Restaurant Form</div>
        <div class="panel-body">
            <% if @restaurant.errors.any? %>
            <h2>We have some errors here !</h2>
            <ul>
                <% @restaurant.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
            <% end %>

            <%= form_for [:admin, @restaurant], class: "form-horizontal" do |f| %>
            <div class="form-group">
                <%= f.label :name, "Category", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: true}, {class: "form-control"} %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :name, "Name", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :name, class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :tel, "Tel", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :tel, class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :address, "Address", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :address, class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :opening_hours, "Opening Hours", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= f.text_field :opening_hours, class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :description, "Description", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= f.text_area :description, class: "form-control"  %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label :image, "Photo", class: "col-sm-3 control-label" %>
                <div class="col-sm-9">
                    <%= image_tag @restaurant.image, width: '600px' if @restaurant.image? %>
                    <%= f.file_field :image, class: "form-control"  %>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <%= link_to 'Back to index', admin_restaurants_path, class: "btn" %>
                    <%= f.submit %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
